
.arena {
    height: 100%;
    overflow: hidden;
    display: none;
}
.arena__main-container {
    display: flex;
    align-items: center;
    height: inherit;
    position: relative;
    perspective: 1000px;
}

.arena__main {
    display: flex;
    align-items: center;
    height: 65%;
}

.arena__main::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
  }

.arena__main__bench {
    flex-basis: 25%;
    padding: 0 50px;
    height: 100%;
}

.arena__main__bench-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: inherit;
    max-height: inherit ;
}

.arena__main__bench-list__card-container {
    width: calc(100% / 2);
    height: calc(100% / 3);
}

.arena__main__bench-list__card-container:hover {
    box-shadow: none;
}

.arena__main__bench-list__card__backpack {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    height: calc(100% - 10px);
    margin: 5px;
}

.arena__main__bench-list__card__backpack {
    padding: 5px;
}

/* -------------------------------- */
/*            Combat               */
/* ------------------------------ */
/* 
.combat-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
} */


.arena__combat-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


.arena__combat {
    display: grid;
    grid-template: 
        "a b b" 10%
        "a c c" 25%
        "a d e" 25%
        "a f g" 40% / 35% 50% 15%;
    height: 100%;
    width: 100%;
    flex-basis: 50%;
}

.arena__combat.rotation-x-y>* {
    transform: rotateY(180deg) rotateX(180deg)
}



.arena__combat__image {
    grid-area: a;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
}

.arena__combat__name {
    grid-area: b;
    width: fit-content;
    height: 100%;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 27px;
}

.progress {
    height: 100%;
    background-color: transparent;
    border: 1px solid grey;
}

.arena__combat__hp-sp-bar {
    align-self: flex-start;
    height: 45%;
    grid-area: c;
}

.hp {
    /* height: 100%; */
    border-radius: 5px 5px 0 0;
    margin-top: 5px;
}

#hp-player-two {
    transform: rotateX(180deg) rotateY(180deg);
}

.speed {
    height: 20%;
    border-radius: 0 0 3px 3px;
}

.arena__combat__special-bar{
    align-self: center;
    height: 30%;
    /* width: 80%; */
    grid-area: d;
}

.arena__combat__special-bar__progress {

}

.arena__combat__special-bar__progress__one {
    background-color: yellow;
}

.arena__combat__special-bar__progress__two {
    background-color: rgb(255, 166, 0);
}

.arena__combat__special-bar__progress__three {
    background-color: rgb(255, 115, 0);
}

.arena__combat__special-button {
    grid-area: e;
    align-self: center;
    justify-self: flex-start;
    height: 60%;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    line-height: 40px;
    box-shadow: 0 0 10px 2px red;
    text-shadow: 0 0 20px orange;
    text-transform: uppercase;
    transition: 0.5s;
}

.arena__combat__special-button:hover {
    box-shadow: 0 0 10px 5px red;
}

.arena__combat__time-button {
    grid-area: f;
    width: 25%;
    height: 50%;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    background-color: transparent;
    color: white;
    box-shadow: inset 0 0 20px 2px rgb(187, 170, 17);
    text-transform: uppercase;

}


.player-combat {

}

#fight {
    padding: 10px 20px
}